<div id="backButton">
    <a href="#selectBox" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back"></a>
</div>
<div data-role="header" >
    <h2 class="ui-title">My Garden</h2>
</div>
<div class="table-wrapper">
    <table data-role="table" class="ui-responsive">
        <% for (var i =0; i<box.length; i++){%>
        <% var col = box[i];%>
        <tr>
            <% for (var j=0; j<col.length; j++){%>
                <% var cell = col[j];%>
                <% var plant = cell.plant || "plant me"; %> 
                <% var note = cell.note;%>
                <% if (typeof note != 'undefined' && note && note.length >20){ %>
                    <% note = note.substring(0,17).concat("...");%>
                <% } %>
            <td><div class ='cell' id = 'cell<%=i%>_<%=j%>'><div class="<%=cell.plant?'plant':'no-plant'%>"><%=plant%></div><div class="plant-date"><%=cell.date%></div><div class="plant-note"><%=note%></div></div></td>
            <% } %>
        </tr>
        <% } %>
    </table>
</div>
